@mixin flex($direction, $content) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
}

@mixin shadowBottom {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
}

@mixin boxShadow {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

// Colors
$primary-color: #005CAF;
$primary-color-darker: darken($color: $primary-color, $amount: 8);
$secondary-color: #F9BF45;
$secondary-color-darker: darken($color: $secondary-color, $amount: 8);
$tertiary-color: #1B813E;
$tertiary-color-darker: darken($color: $tertiary-color, $amount: 8);

$color-white: #fafafa;
$color-grey: #dfdfdf;
$color-black: #111111;

$color-jmti: #0089A7;
$color-jtip: #CB4042;
$color-jstpk: #4E4F97;
$color-jikl: #1B813E;
$color-jtsp: #F7D94C;

// CSS RESET
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// CSS
body {
  font: 16px 'Ubuntu', sans-serif;
}

header{
  @include flex(row, space-between);
  @include shadowBottom();
  padding: 0.5rem;
  .navbar{
    .navbar-toggle{
      display: none;
    }
    a{
      border-radius: 4px;
      color: $color-black;
      display: inline-block;
      font-size: 1em;
      padding: 19px 30px;
      text-decoration: none;
      text-align: center;
      transition: 0.4s background-color, 0.3s color;
      &:hover{
        color: $color-white;
        background-color: $primary-color;
      }
      &:active{
        background-color: $primary-color-darker;
      }
    }
    img{
      margin: 0 0 0 8px;
      width: 213px;
      height: 57px;
      cursor: pointer;
    }
  }
  
}

footer{
  .footer-content{
    @include flex(row, space-evenly);
    background-color: $primary-color;
    display: flex;
    padding: 16px 36px;
    .footer-item{
      width: 20vw;
      padding: 16px;
      margin: 4px;
      
      h2{
        color: $color-white;
        padding: 0 0 8px 0;
        margin: 16px 0;
        border-bottom: 4px solid $color-white;
      }
      ul{
        list-style: none;
        img{
          width:4vw;
          height: 4vw;
          
        }
      }
      .footer-flex{
        @include flex(row,space-around);
      }
      a{
        text-decoration: none;
        color: darken($color: $color-white, $amount: 10);
        
        &:hover{
          color: $color-white;
        }

      }
      &:last-child{
        color: $color-white;
        background-color: $primary-color-darker;
        padding: 32px;
        width: 30vw;
        form{
          @include flex(row, space-between);
          flex-wrap: wrap;
          .form-item{
            width: 50%;
            &:nth-child(1){
              width: 100%;
            }
            &:nth-child(4){
              width: 100%;
              textarea{
                width: 100%;
              }
            }
            input{
              width: 100%;
              height: 32px;
              border-radius: 4px;
              padding: 8px;
            }

            ::placeholder{
              padding: 8px;
            }
            *{
              margin: 4px 0;
            }
          }
          button{
            border: 2px solid $color-white;
            border-radius: 4px;
            background-color: $primary-color;
            color: $color-white;
            margin: 8px auto;
            width: 100%;
            height: 40px;
            &:hover{
              background-color: $primary-color-darker;
            }
            &:active{
              outline: 0;
            }
          }
        }
      }
    }
  }
  .footer-cp{
    background-color: $primary-color-darker;
    color: $color-white;
    text-align: center;
    padding: 4px;
    font-weight: 100;
    font-size: 0.7rem;
  }
}
// CSS buat index.html
.home-container{
  .cover{
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url('../assets/img/bgcover.JPG') $primary-color no-repeat center;
    background-size: cover;
    min-height: 50vh;
    max-width: 100vw;
    padding: 25vh 0;
    .cover-overlay{
      display: inline-block;
      img{
        width: 150px;
      }
      h1{
        background-color: #00000050;
        color: $color-white;
        margin-top: 16px;
        padding: 0.5em;
        font: 'Kanit', cursive;
      }
    }
  }
  .itk-desc{
    background-color: darken($color: $primary-color-darker, $amount: 2);
    color: $color-white;
    font-size: 1.1rem;
    padding: 1.5rem;
    text-align: justify;
  }
  .card-container{
    background-color: $secondary-color;
    color: $primary-color;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 16px 0;
    .card-jurusan{
      @include boxShadow();
      background-color: $color-white;
      // border-radius: 8px;
      transition: 0.3s transform;
      max-width: 15vw;
      cursor: pointer;
      &:hover{
        transform: scale(1.05)
      }
      img{
        width: 15vw;
        // border-radius: 8px 8px 0 0;
      }
      h1{
        padding: 4px 0;
        font-size: calc(16px + 0.5vw);
      }
      a{
        text-decoration: none;
      }
    }
  }
}
// CSS buat berita.html
.berita-container{
  .berita-carousel{
    background-color: $secondary-color-darker;
    color: $color-white;
    text-align: center;
    padding: 64px;
  }
  .berita-content{
    @include flex(row, space-evenly);
    background-color: $primary-color-darker;
    padding: 16px 0px;
    .berita-item{
      background-color: $primary-color;
      border-radius: 8px;
      color: $color-white;
      padding: 16px;
      width: 30vw;
      h3{
        margin: 16px 0;
      }
      img{
        display: block;
        width: 60%;
        margin: 8px auto;
        border: 2px solid $color-white;
      }
    }
  }
}
// CSS buat about.html
.about-container{
  .about-logo{
    display: block;
    width: 200px;
    margin: 32px auto;
  }
  .about-history{
    padding: 16px 32px;
    background-color: $tertiary-color-darker;
    color: $color-white;
  }
  .about-visimisi{
    background-color: $tertiary-color;
    color: $color-white;
    display: flex;
    flex-direction: row;
    padding: 32px;
    .visimisi-item{
      h2{
        margin: 8px;
        text-align: center;
      }
    }
  }
}
// CSS buat semua halaman jurusan
.jurusan-container{
  h1{
    text-align: center;
    margin: 16px;
  }
  .top-content{
    @include flex(row, center);
    img{
      display: block;
      width: 400px;
    }
    table{
      background-color: $color-white;
      text-align: center;
      border: 0px;
      margin: auto 0;
      tr{
        &:nth-child(odd){

        }
        &:nth-child(even){
          background-color: $color-grey;
        }
        th{
          background-color: $primary-color-darker;
          color: $color-white;
          font-weight: normal;
          padding: 8px 16px;
        }
        td{
          padding: 8px;
        }
      }
    }
    *{
      margin: 16px;
    }
  }
  .jurusan-desc{
    background-color: $primary-color;
    color: $color-white;
    padding: 8px;
    text-align: center;
    font-size: 1.2rem;
  }
  .prodi-container{
    @include flex(row, space-evenly);
    flex-wrap: wrap;
    padding: 32px 0;
    &.jmti{
      background-color: darken($color: $color-jmti, $amount: 20);
      .prodi-item{
        color: $color-white;
        background-color: $color-jmti;
      }
    }

    &.jtip{
      background-color: darken($color: $color-jtip, $amount: 20);
      .prodi-item{
        color: $color-white;
        background-color: $color-jtip;
      }
    }

    &.jstpk{
      background-color: darken($color: $color-jstpk, $amount: 20);
      .prodi-item{
        color: $color-white;
        background-color: $color-jstpk;
      }
    }
    
    &.jikl{
      background-color: darken($color: $color-jikl, $amount: 20);
      .prodi-item{
        color: $color-white;
        background-color: $color-jikl;
      }
    }
    
    &.jtsp{
      background-color: $color-jtsp;
      .prodi-item{
        color: $color-white;
        background-color: darken($color: $color-jtsp, $amount: 20);
      }
    }
    .prodi-item{
      width: 40vw;
      margin: 16px 0;
      padding: 16px;
      text-align: justify;
      h1{
        border-bottom: 4px solid $color-white;
        padding-bottom: 12px;
        margin: 4px 0 16px 0;
      }
    }
  }
}
//SLIDE SHOW
.slideshow-container {
  width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

// MOBILE
@media (max-width: 565px) {
  header{
    @include flex(row, center);
    flex-wrap: wrap;
    padding: unset;
    a img{
      width: 60vw;
      margin: 18px auto;
    }
    .navbar{
      background-color: $primary-color;
      margin: 4px 0 0 0;
      @include flex(row, stretch);
      a{
        color:$color-white;
        width: 33.33vw;
      }
    }
  }
  footer{
    .footer-content{
      flex-wrap: wrap;
      .footer-item{
        width: 100vw;
        &.form{
          width: 100vw;
        }
      }
      h2{
        font-size: 0.95rem;
      }
    }
  }
  .home-container{
    .card-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: unset;
      .card-jurusan{
        min-width: 40vw;
        margin: 8px auto;
        img{
          min-width: 40vw;
        }
      }
    }
  }
  .berita-container{
    .berita-content{
      @include flex(column, unset);
      flex-wrap: wrap;
      margin: 8px auto;
      .berita-item{
        margin: 8px auto;
        width: 90vw;
      }
    }
  }
  .about-container{
    .about-visimisi{
      flex-wrap: wrap;
    }
  }
  .jurusan-container{
    .top-content{
      flex-wrap: wrap;
      margin: 16px 0;
      img{
        width: 100%;
      }
    }
    .prodi-container{
      flex-wrap: wrap;
      .prodi-item{
        width: 90vw;
        margin: 8px 0;
      }
    }
  }

}


